@import "mixins";

.component {
  @include flex(space-between);

  background-color: $darkblue;
  border-color: $darkblue;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;

  color: $light;
  font-size: 16px;
  height: 70px;
  padding: 0 $gutter;
  margin-bottom: $gutter;
}

.button {
  @include flex;

  &,
  &:hover {
    color: white;
    text-decoration: none;
  }

  &:hover h1 {
    text-decoration: underline;
  }

  h1 {
    font-weight: 500;
  }
}

.flex {
  @include flex;

  h1 {
    margin-left: 20px;
  }

  i {
    color: fade-out(white, 0.8);
  }
}
