@import "mixins";

$mirror: #1eb2ff;

.banner {
  @include flex(flex-start);

  margin-top: 20px;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 fade-out(black, 0.9);
  background-color: #2b292e;
}

.icon {
  fill: $mirror;
}

.main {
  flex: 1;
  color: $light;
  margin-left: 30px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.content {
  font-size: 12px;

  a {
    @include link($mirror, $mirror);
  }
}

.close {
  @include link;
}
